body {
  font-size: smaller;
  min-width: 650px;
  font-family: Nunito, sans-serif;
}
.card-body {
  box-sizing: content-box;
  padding: 1em;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.input-group-text {
  cursor: pointer;
}

.app-container {
  margin: 50px auto;
  width: 560px;
}
#update {
  position: relative;
  bottom: 15px;
  left: 114px;
  font-size: xx-small;
}
#fahrenheit {
  float: right;
}
#unit-switch {
  float: right;
}
.extras {
  font-size: 20px;
  margin-top: 25px;
}

#current-weather {
  position: relative;
  left: 40px;
}

.col-6 {
  flex: 0 0 auto;
  width: 49%;
}
#currently {
  font-weight: bold;
}
.today {
  position: relative;
  left: 140px;
  bottom: 70px;
  font-weight: bold;
  font-size: xx-large;
}

.custom-day-column {
  flex: 0 0 auto;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
  white-space: nowrap;
  width: 20%;
  text-align: center;
}
.custom-day-column:last-of-type {
  border: unset;
}
.fas {
  font-size: x-large;
}

#sourceLink {
  color: darkgray;
}
